body {
  margin: 0;
  padding: 0;
  font-family: "Istok Web", sans-serif;
  color: #082746;
  background-color: #f5f8fa;
}

a {
  color: #19bcc9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button:focus,
input:focus,
button:active,
input:active {
  outline: none;
  box-shadow: 0 0 0 #9e9e9e inset, 0 0 0 2px #95dddf;
  z-index: 10;
}
